.module__contact {


	#map {
		height: 450px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
		@media screen and (max-width:$screen-sm-max) {
			margin-bottom: 20px;
		}
	}


	&__copy {
		display: flex;
		align-items: center;

		&__inner {
			width: 100%;

			padding: rem(20);

			@media screen and (max-width:$screen-sm-max) {
				padding: 0;
			}

			h1 {
				// margin-top: 0;
			}

			p {
				line-height: 2;
			}

		}
	}
}

.nf-field {
	.nf-field-label {
		display: none;
	}
}

.nf-form-content {
	@media screen and (max-width:$screen-sm-max) {
		padding: 0 !important;
	}
}

.typography>:first-child {
	margin-top: 0;
}