.site-header {
	background: transparent;
	padding-top: rem(32);
	padding-left: rem(50);
	padding-right: rem(50);
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

	display: flex;
	justify-content: space-between;

	&__logo {
		color: $white;
		font-weight: $font-weight-bold;
		padding-bottom: rem(10);

		img {
			width: 140px;
		}
	}

	&__menu {

		.menu {
			display: block;

			@include media-breakpoint-up(md) {
				display: flex;
				justify-content: center;
			}

			li {
				display: block;

				@include media-breakpoint-up(md) {
					margin-left: rem(10);
				}

				a {

					font-size: 19px;
					font-weight: 600;
					color: rgba($white, 0.75);
					display: block;
					padding-top: rem(15);
					padding-bottom: rem(12);
					border-bottom: rem(5) solid transparent;

					@include hover-focus-active {
						color: $white;
						text-decoration: none;
						border-bottom-color: $accent;
					}
				}

				&.current-menu-item {

					a {
						color: $white;
						border-bottom-color: $accent;
					}
				}
			}
		}
	}

	&__right_search {
		input {
			border-radius: 7px;
			border: 1px solid #DBDBDB;
			margin-right: 5px;
		}
	}

}